version: '3.9'

services:
  db:
    container_name: postgres-spring-boot   
    image: postgres:16.2-alpine 
    restart: always 
    environment:
      POSTGRES_DB: DB01B 
      POSTGRES_USER: hkhlifi 
      POSTGRES_PASSWORD: DBFOR01B 
    ports:
      - "5332:5432" 
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hkhlifi -d DB01B"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    container_name: spring-boot-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/DB01B
      SPRING_DATASOURCE_USERNAME: hkhlifi
      SPRING_DATASOURCE_PASSWORD: DBFOR01B
      FILE_UPLOAD_DIR: /app/upload
      FILE_FETCH_URL: http://localhost:8080/api/post/file/
    volumes:
      - backend_uploads:/app/upload
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    container_name: angular-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:
  backend_uploads:

networks:
  app-network:
    driver: bridge